/* UNIVERSAL SELECTOR */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Body */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

body.dark {
    background: #0f2027;
    color: #fff;
}

body.light {
    background: #f2f2f2;
    color: #111;
}

body.light a{
    color: rgb(38, 105, 228);
    
}

/* Container */
.container {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background: rgba(0,0,0,0.2);
}


/* Clock */
.date {
    font-size: 1rem;
    margin-bottom: 10px;
}

.clock {
    font-size: 3rem;
    margin: 10px 0;
}



.controls button,
.alarm button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.alarm input {
    padding: 6px;
}

/* Footer */
.footer {
    margin-top: 15px;
    font-size: 0.8rem;
    opacity: 0.7;
    font-weight: 700;
}

.footer a {
    color: #00ffff;
    text-decoration: none;
    font-weight: 800;
    font-style: italic;
}

.footer a:hover {
    text-decoration: underline;
}
